extends layout

block content
  link(rel='stylesheet', href='/stylesheets/registration.css')
  if failure
    div.banner.failure
      p Event Not Found.
  h1= title
  p.subtitle What event would you like to view?
  form(action='/manage', method='get')
    ul.form-style-1
      li
        label(for='code') Event Code
          span.required *
        input.field-long(name='code', type='text', id='code', value=code)
      li.button
        input(type='submit', value='View')
