doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
        div.container
            a#logo(href='./') Fluffy-Server
            ul.nav
                li
                    a.nav-link(href='./manage') Participants
                li
                    a.nav-link(href='./registration') Register
                li
                    a.nav-link(href='./create') Create Event
    div#main
        block content
