extends layout

block content
  h1= title
  form(action='/register', method='post')
    div
      label(for='name') Name: 
      input(name='name', type='text', id='name')
    div
      label(for='email') Email Address: 
      input(name='email', type='mail', id='email')
    div.button
      button(type='submit') Register
