h3 {
  max-width: 400px;
  padding: 0;
  display: block;
  margin: 0 0 3px 0;
  border-bottom: 1px solid grey;
  font-weight: bold;
}
.btn-link {
    border-top: 1px solid #cdcfd2;
    border-bottom: 1px solid #cdcfd2;
    border-left: 1px solid #cdcfd2;
    border-right: 1px solid #cdcfd2;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    padding: 6px 12px;
    line-height: 1.42857;
    font-size: 14px;
    color: #212327;
    background-color: #ffffff;
    border-color: #cdcfd2;
    min-width: 122px;
}
.btn-link:hover{
    color: #212327;
    background-color: #eeeeef;
    border-color: #b2b5ba;
    border-top: 1px solid #e2e3e4;
    border-bottom: 1px solid #e2e3e4;
    border-left: 1px solid #e2e3e4;
    border-right: 1px solid #e2e3e4;
}
.participant-list li {
  line-height: 1.42857;
  min-height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
}
.flex-right {
  margin-left: auto;
}
.delivery-toggle {
  cursor: pointer;
  user-select: none;
  font-weight: none;
}
.delivery-toggle i {
  margin-bottom: 2px;
  margin-left: 8px;
}
.delivery-popup {
  position: absolute;
  overflow-y: auto;
  top: 35px;
  background-color: white;
  border: 1px solid black;
  width: 100%;
  padding: 5px;
  z-index: 22;
}
p {
  margin: 0;
}
.badge {
  position: relative;
  line-height: 1.42857;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.badge-icon {
  border: 1px solid;
  border-radius: 20px;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.badge p {
  margin: 0;
}
.in-progress-status {
  border-color: rgb(233, 236, 18);
  color: rgb(233, 236, 18);
  background-color: rgb(233, 236, 18);
}
.success-status {
  border-color: rgb(94, 216, 94);
  color: rgb(94, 216, 94);
  background-color: rgb(94, 216, 94);
}
.waiting-status {
  color: rgb(243, 77, 11);
  background-color: rgb(243, 77, 11);
  border-color: rgb(243, 77, 11);
}
form {
  margin-left: 20px;
}
.subtext {
  margin-left: 40px;
  margin-top: 14px;
  margin-bottom: 14px;
}
.form-style-1 {
    margin-top: 14px;
    max-width: 400px;
    padding: 0px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}
.form-style-1 input[type=text]:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-long{
    width: 100%;
}
input[type=submit], input[type=button]{
    cursor: pointer;
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
input[type=submit]:hover, input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}
.email-btn {
  display: flex;
  max-width: 150px;
  align-items: center;
}
.email-icon {
  margin-right: 5px;
  font-size: 20px;
}
